{% extends 'base.html' %}

{% block head %}
  <title>Task Master</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<div class="center-wrap">
  <div class="card">
    <h1>Task Master</h1>

    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Added</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task.content }}</td>
          <td>{{ task.date_created.strftime('%Y-%m-%d %H:%M') }}</td>
          <td>
            <a href="">Delete</a> | <a href="">Update</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="/" method="POST" class="task-form">
      <input type="text" name="content" id="content" placeholder="Enter a task">
      <input type="submit" value="Add Task">
    </form>
  </div>
</div>
{% endblock %}
